*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
.nav-bar {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



nav{
    display: flex;
    background-color: #969899;
    color: white;
    height: 100px;
    padding: 10px;
    font-size: larger;
    font-family: verdana;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

.nav-links{
    display: flex;
    text-align: end;
    align-items: baseline;
    padding: 40px;
    gap: 20px;
}

.grid{
    display: grid;
    margin: 30px;
    border:0px solid black;
    padding: 10px;
    font-size: large;

}

.grid2{
    display: flex;
    margin: 30px;
    border: 0px solid black;
    padding: 10px;
    font-size: large;
    text-align: center;
}

footer{
    background-color: rgb(19, 17, 17);
    color: white;
    font-weight: bold;
    font-size: larger;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}


header{
    margin: 10px;
    padding: 15px ,15px;
    height: 100px;
    background-color: #6f7977;
    color: whitesmoke;

}

.nav-linkspr{
    display: flex;
    text-align: end;
    align-items: baseline;
    padding: 40px;
    gap: 50px;

}

#img1{
    display: block;
    margin: 0 auto;
    max-width: 80%;

}


#img2{

    display: block;
    margin: 0 auto;
    max-width: 80%;

}

#img3{

    display: block;
    margin: 0 auto;
    max-width: 80%;


}

#P1{
    font-family: cursive;
    font-size: larger;
}


.par{

    display: grid;
    margin: 30px;
    padding: 20px;
    font-family: verdana;
    font-size: larger;
    font-weight: bold;
}